atlas==0.27.0
boto3==1.7.82
botocore==1.10.84
configs==3.0.3
cython==0.28.4
h5py==2.8.0
imgaug==0.2.6
IPython[all]
Keras==2.1.3               # working multi-GPU training
Keras-Applications==1.0.4
Keras-Preprocessing==1.0.2
matplotlib==3.0.0
numpy==1.14.5
opencv-python==3.4.3.18
pandas==0.23.4
Pillow==6.2.2
pydicom==1.1.0
scikit-image==0.14.2       # avoid antialiasing warnings in 0.14 enough functionality
scipy==1.1.0
tensorboard==1.10.0
tornado==4.5.3             # allows async within async